# Ignore arquivos de build
bin/
obj/

# Ignore pacotes NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.symbols.nupkg

# Ignore configurações de usuário do Visual Studio
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore arquivos de log
*.log

# Ignore arquivos temporários
*.tmp
*.temp

# Ignore publicações
publish/

# Ignore arquivos de dependência local
*.deps.json

# Ignore diretórios do Visual Studio
.vs/
.idea/

# Ignore configurações de Rider
.idea/

# Ignore cache de ferramentas
_Tool/
project.lock.json
project.fragment.lock.json

# Ignore build de debug e release
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

# Ignore artefatos de testes
TestResults/
*.coverage
*.coveragexml

# Ignore arquivos de backup
*.bak

# Ignore Configurações do Azure
.ssm/
